<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.backgroundserviceimpl.mapper.UserBackgroundMapper">
  <resultMap id="BaseResultMap" type="com.company.project.backgroundservice.pojo.entity.UserBackground">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
  </resultMap>
    <select id="selectUserBackgroundList"
            resultType="com.company.project.backgroundservice.pojo.result.UserBackgroundResultVo">
      select username,name,phone from user_background
    </select>
</mapper>